h1 {
margin-left: 70px;
color: crimson
}
form li {
list-style: none;
margin-bottom: 5px;
color:greenyellow;
}

form ul li label{
float: left;
clear: left;
width: 100px;
text-align: right;
margin-right: 10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;

}

form ul li input, select, span {
float: left;
margin-bottom: 10px;

}

form textarea {
float: left;
width: 350px;
height: 150px;

}

[type="submit"] {
clear: left;
margin: 20px 0 0 230px;
font-size:18px;
}

p {
margin-left: 70px;
font-weight: bold;
color:crimson;
}
body {
    background-color:black;
}